extends ../layout

block content
  a(href='/bicicletas') Volver
  
  br
  br
  br
  
  h1 Nueva bicicleta
  
  br
  br
    
  form(action='/bicicletas/create' method='post')
    label(for='code') ID:
    input#code(type='text' name='code')
    br
    label(for='color') Color:
    input#color(type='text' name='color')
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo')
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat')
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng')
    br
    br
    input.btn(type='submit' value='OK')
    //Lo que se esta haciendo aqui es que una vez se oprima el boton, se hara la accion que esta definida en el action
    //Osea va primero al routes y este ya se encarga de hacer lo siguiente
