extends ../layout

block content
  a(href='/bicicletas') Volver
  
  br
  br
  br
  
  h1 Actualizando bicicleta
  
  br
  br
    
  form(action=`/bicicletas/${bici.code}/update` method='post')
    label(for='code') ID:
    input#code(type='text' name='code' value=bici.id)
    br
    label(for='color') Color:
    input#color(type='text' name='color' value=bici.color)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat' value=bici.ubicacion[0])
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng' value=bici.ubicacion[1])
    br
    br
    input.btn(type='submit' value='OK')
    //Lo que se esta haciendo aqui es que una vez se oprima el boton, se hara la accion que esta definida en el action
    //Osea va primero al routes y este ya se encarga de hacer lo siguiente
